<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   todo.plist
   todoapp

   Created by Ahmed Morsy on 3/29/21.
   Copyright (c) 2021 wasiladev. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
